body{
    font-family: verdna;
    text-align: center;
}
#changeBtn{
    float: right;
    border-radius: 20px;
    padding: 4px;
    background-color: #000000;   
    width: 150px;
    height: 50px;
    box-shadow: inset;
    color: white;
}
Button{
    font-size: 1em;
    padding: 5px 25px;
    border-radius: 7px;
    transition: all ease 0.3s;
}
Button:hover{
    background-color: #0b3030;
    color: aliceblue;
    font-size: 1em;
    padding: 5px 25px;
    border-radius: 5px;
}
myLabel{
font-size: 21em;
}
label{
    padding: 20px;
    width: 20px;
    height: 20px;
    font-size: 200px;
}